{extend name="tpl/base"}
{block name="custom_css"}
<link rel="stylesheet" href="__CSS__/selected_case_detail.css">
{/block}
{block name="title"}案例详情{/block}

{block name="content"}
<div class="container">
    <!--当前位置 开始-->

    <ol class="breadcrumb">
        <li>当前位置：</li>
        <li><a href="{:url('Index/index')}">首页</a></li>
        <li><a href="{:url('SelectedCase/index')}">案例精选</a></li>
        <li class="active">{$community_name}</li>
    </ol>
    <!--当前位置 结束-->

    <div class="row">
        {volist name="list" id="vo"}
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-border table-bordered table-hover">
                        <tbody>
                        <tr>
                            <th>设计师</th>
                            <td>{$vo.name}</td>
                            <th>案例户型</th>
                            <td>{$vo.type}</td>
                            <th>面积 /m²</th>
                            <td>{$vo.area}</td>
                        </tr>
                        <tr>
                            <th>小区名称</th>
                            <td>{$vo.community_name}</td>
                            <th>所在城市</th>
                            <td>{$vo.city}</td>
                            <th>装修价格 ¥/万元</th>
                            <td>{$vo.price}</td>
                        </tr>
                        <tr>
                            <th>服务店面</th>
                            <td>{$vo.company_name}</td>
                            <th>案例风格</th>
                            <td>{$vo.style}</td>
                            <th>施工队长</th>
                            <td>{$vo.construction_captain}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 zoom-pic">
                    <img src="__ROOT__/uploads/{$vo.case_photo1}" alt="" class="case_detail_img" id="main_pic">
                    <img src="__ROOT__/uploads/{$vo.case_photo2}" alt="" class="case_detail_img" id="main_pic">
                    <img src="__ROOT__/uploads/{$vo.case_photo3}" alt="" class="case_detail_img" id="main_pic">
                    <img src="__ROOT__/uploads/{$vo.case_photo4}" alt="" class="case_detail_img" id="main_pic">
                </div>
            </div>
            <br>
            <div class="row photos">
                <div class="col-sm-3 col-xs-3 col-md-3 thumbnail active">
                    <img src="__ROOT__/uploads/{$vo.case_photo1}" class="case_detail_img" alt="">
                </div>
                <div class="col-sm-3 col-xs-3 col-md-3 thumbnail">
                    <img src="__ROOT__/uploads/{$vo.case_photo2}" class="case_detail_img" alt="">
                </div>
                <div class="col-sm-3 col-xs-3 col-md-3 thumbnail">
                    <img src="__ROOT__/uploads/{$vo.case_photo3}" class="case_detail_img" alt="">
                </div>
                <div class="col-sm-3 col-xs-3 col-md-3 thumbnail">
                    <img src="__ROOT__/uploads/{$vo.case_photo4}" class="case_detail_img" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="design_concept"><span><b>设计理念：</b></span>{$vo.design_concept}</p>
                </div>
            </div>

        </div>
        {/volist}
        <!--右侧 开始-->
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12" >
                    <div class="content" id="right_box">
                        <img src="__ROOT__/uploads/{$vo.avatar}" alt="" class="case_detail_img" id="designer_big_pic">
                        <div class="center">
                            <h2 class="center">{$vo.name}</h2>
                            <p class="center">{$vo.position}</p>
                            <div class="btn-group">
                                <h4><span class="look_detail label"><a href="{:url('TeamServices/designer_info')}?id={$vo.id}">更多案例</a></span>&nbsp;<span class="order_design  label"><a href="">预约设计</a></span></h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="content" id="right_form">
                        <form onsubmit="return submit_form()" class="form-horizontal" role="form" id="selected_case_detail_form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="__IMG__/comm/right_order_form_banner.png" alt="右侧预约设计" id="order_design_img">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-4 control-label">您的姓名：</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="name" placeholder="您的姓名" name="name" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-4 control-label">小区名称：</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="address" placeholder="小区名称" name="address" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-4 control-label">装修面积：</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="area" placeholder="装修面积" name="area" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-4 control-label">联系电话：</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="tel" placeholder="联系电话" name="tel" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text"><button type="submit" class="btn btn-lg btn-danger btn-block" id="selected_case_detail_btn_order">预约设计</button></p>
                                </div>
                            </div>
                            <input type="hidden" name="from" value="PC">
                            <input type="hidden" name="remark" value="案例详情">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--右侧 结束-->
    </div>
    <!--相似案例 开始-->
    <div class="row">
        <div class="col-sm-12">
            <h3>相似案例 <div style="float: right"><span class="glyphicon glyphicon-refresh" ></span><span> 换一换 </span></div></h3>
        </div>
    </div>
    <br><br>
        <div class="row similar-case">
        {volist name="case_list" id="vo"}
        <div class="col-sm-3">
            <div class="case">
                <div class="thumbnail-img">
                    <a href="{:url('SelectedCase/selected_case_detail')}?case_id={$vo.case_id}"><img src="__ROOT__/uploads/{$vo.case_photo1}" alt="{$vo.style}"></a>
                </div>
                <div class="text clearfix">
                    <p class="center title">
                        <span class="proprietor_address">{$vo.community_name}&nbsp;{$vo.area} ㎡</span>
                        <span class="design_style pull-right">{$vo.style}</span>
                    </p>
                    <img src="__ROOT__/uploads/{$vo.avatar}" alt="设计师" class="designer_circle">
                    <div class="btn-group">
                        <h3 class="inline pull-left"><span class="look_detail label"><a href="{:url('SelectedCase/selected_case_detail')}?case_id={$vo.case_id}">查看详情</a></span></h3>
                        <h3 class="inline pull-right"><span class="order_design  label"><a href="">预约设计</a></span></h3>
                    </div>

                </div>
            </div>
        </div>
        {/volist}
    </div>

    <!--相似案例 结束-->

</div>
{/block}

{block name="custom_js"}
<script>
    <!--导航菜单-->
    $('header nav ul li').removeClass('active');
    $('header nav ul li:eq(1)').addClass('active');

    //表格文字居中
    $('th ,td').css('text-align','center');
    $('th').css('background-color', '#f6f6f6');
    $('td').css('background-color', '#ffffff');

    //案例详情点击图片切换（Tab 切换）
    $('.thumbnail').click(function () {
        var i = $(this).index();
        $(this).addClass('active').siblings().removeClass('active');
        $('.zoom-pic img').eq(i).show().siblings().hide();
    });

    //提交用户预约设计信息
    function submit_form() {
        $.ajax({
            type: "POST",
            url: "{:url('admin/DataCenter/orderAdd')}",
            data : $("#selected_case_detail_form").serialize(),
            beforeSend:function(){
                $('#selected_case_detail_form').attr('onsubmit','return false;');
                $('#selected_case_detail_btn_order').html("数据提交中...");
            },
            success: function(data) {
                alert(data.msg);
                $('#selected_case_detail_btn_order').html("预约成功").removeClass('btn-danger').addClass('btn-success');
            },
            error:function (data) {
                alert(data.msg);
            }
        });
        return false;
    }
</script>
{/block}