{extend name="tpl/base"}

<!--业主案例 开始-->
{block name="content"}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a href="{:url('Index/index')}" class="maincolor">首页</a>
        <span class="c-gray en">&gt;</span>
        网站设置
        <span class="c-gray en">&gt;</span>
        全国门店列表

        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="page-container">
            <form class="form form-horizontal" enctype="multipart/form-data" id="form-shop-add" action="{:url('WebsiteSetting/edit_shop_information')}" method="post">
                {volist name="list" id="vo"}
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>公司名称：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$vo.company_name}" placeholder="" id="" name="company_name" required>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>公司地址：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$vo.address}" placeholder="" id="" name="address" required>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>公司电话：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$vo.tel}" placeholder="" id="" name="tel" required>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属城市：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$vo.city}" placeholder="" id="" name="city" required>
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>门头照片</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="file"  placeholder="上传门头照片" id="" name="thumbnail">
                    </div>
                </div>
                <input type="hidden" name="action" value="do">
                <input type="hidden" name="company_id" value="{$vo.company_id}">
                {/volist}
                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                        <button  class="btn btn-primary radius" type="submit" name="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
                        <button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                    </div>
                </div>
            </form>


        </article>
    </div>
</section>
{/block}
<!--业主案例 结束-->

<!--业务相关 js 开始-->
{block name="custom_js"}

<script>
    //表单验证
    $(document).ready(function() {
        $("#form-shop-add").validate();
    });

    //返回前一个页面
    function removeIframe() {
        history.back();
    }

    $("#menu-website").find("dt").addClass('selected');
    $("#menu-website").find("dd").show();
    $("#menu-website").find("dd ul li:eq(1)").addClass("current");
</script>
{/block}
<!--业务相关 js 结束-->