{extend name="tpl/base"}
{block name="custom_css"}
{/block}
{block name="title"}0元户型设计{/block}

{block name="content"}
<div class="container">
    <div class="row go-back visible-xs">
        <div class="col-xs-12">
                <h4><i class="fa fa-angle-left">&nbsp;返回</i><i class="fa fa-share-square-o pull-right share"></i></h4>
        </div>
    </div>
    <div class="row">
        <img src="http://mued3.jia.com/image/mobile/zhuangxiu/design_free/topic.jpg" alt="免费上门量房设计" class="img-responsive">
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4><span class="pull-left fa fa-volume-up red-font"></span>已有 <span class="red-font">2568</span>&nbsp;位业主成功申请服务</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 service-process">
            <h3 class="center">服务流程</h3>
            <img src="http://mued3.jia.com/image/mobile/zhuangxiu/design_free/design_icon.jpg" alt="服务流程" class="img-responsive">
            <ul class="clearfix">
                <li class="pull-left">电话回访了解房屋</li>
                <li class="pull-left">专业设计上门量房</li>
                <li class="pull-left">设计方案出效果图</li>
                <li class="pull-left">修改方案包您满意</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <br>
        <div class="col-xs-12">
            <form onsubmit="return modal_form()" class="form-horizontal" id="modal_form" method="post">
                        <div class="form-group">
                                <input type="text" minlength="2" class="form-control" id="name" placeholder="您的姓名" name="name" required>
                        </div>
                        <div class="form-group">
                                <input type="text" minlength="2"   class="form-control" id="address" placeholder="小区名称" name="address" required>
                        </div>
                        <div class="form-group">
                                <input type="text" minlength="2"  class="form-control" id="area" placeholder="装修面积 ㎡" name="area" required>
                        </div>
                        <div class="form-group">
                                <input type="tel" minlength="11"   class="form-control" id="tel" placeholder="联系电话" name="tel" required>
                        </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="text"><button type="submit" class="btn btn-lg btn-danger btn-block" id="modal_form_btn">免费申请</button></p>
                    </div>
                </div>
                <input type="hidden" name="from" value="mobile">
                <input type="hidden" name="remark" value="手机端免费设计申请">
            </form>
        </div>
    </div>
</div>
{/block}

{block name="custom_js"}
<script>
    $('.row').eq(3).css('background-color','#ffffff');
    $('.service-process ul li').css({"width":"25%","text-align":"center","padding":"5px 10px","font-size":"1.5rem"});
    $('.form-control').css("padding","1.5rem 1rem");

    //模态框提交预约信息
    function modal_form() {
        $.ajax({
            type: "POST",
            url: "{:url('Index/orderAdd')}",
            data : $("#modal_form").serialize(),
            beforeSend:function(){
                $('#modal_form').attr('onsubmit','return false;');
                $('#modal_form_btn').html("数据提交中...");
            },
            success: function(data) {
                alert(data.msg);
                $('#modal_form_btn').html("预约成功").removeClass('btn-danger').addClass('btn-success');
            },
            error:function (data) {
                alert(data.msg);
            }
        });
        return false;
    }
</script>
{/block}