<footer class="hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12 clearfix">
                <div class="col-sm-4 col-xs-6">
                    <ul>
                        <li>服务流程</li>
                        <li><a href="">免费预约</a></li>
                        <li><a href="">到店体验</a></li>
                        <li><a href="">量房设计</a></li>
                        <li><a href="">签订合同</a></li>
                        <li><a href="">精准施工</a></li>
                        <li><a href="">竣工验收</a></li>
                        <li><a href="">无忧售后</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <ul>
                        <li>服务流程</li>
                        <li><a href="">免费预约</a></li>
                        <li><a href="">到店体验</a></li>
                        <li><a href="">量房设计</a></li>
                        <li><a href="">签订合同</a></li>
                        <li><a href="">精准施工</a></li>
                        <li><a href="">竣工验收</a></li>
                        <li><a href="">无忧售后</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-6 hidden-xs">
                    <ul>
                        <li>服务流程</li>
                        <li><a href="">免费预约</a></li>
                        <li><a href="">到店体验</a></li>
                        <li><a href="">量房设计</a></li>
                        <li><a href="">签订合同</a></li>
                        <li><a href="">精准施工</a></li>
                        <li><a href="">竣工验收</a></li>
                        <li><a href="">无忧售后</a></li>
                        </ul>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="col-sm-4 col-xs-6">
                    <img src="__IMG__/index/wechat01.png" alt="">
                    <p class="center">官方微信</p>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <img src="__IMG__/index/wechat02.png" alt="">
                    <p class="center">盛腾家装商城</p>
                </div>
            </div>
        </div>
        <hr>
        <p class="center">版权所有© 安徽盛腾装饰设计有限公司  皖ICP备17004315号 <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1272836750'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1272836750%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></p>

    </div>

</footer>

<!--手机端底部tab 开始-->
    <div class="visible-xs">
            <div class="col-xs-12 center bottom_tab">
                <ul class="clearfix">
                    <li class="pull-left active"><a href="{:url('Index/index')}"><div><img src="__IMG__/index/home.png" alt=""></div><div class="center title">首页</div></a></li>
                    <li class="pull-left"><a href="{:url('activity/mobile')}"><div><img src="__IMG__/index/gift.png" alt=""></div><div class="center title">活动</div></a></li>
                    <li class="pull-left"><a href="#"><div class="message img-circle"><img class="animated flash" src="__IMG__/index/message.png" alt="消息"><span class="point"></span></div></a></li>
                    <li class="pull-left"><a href="{:url('Index/free_design')}"><div><img src="__IMG__/index/design.png" alt=""></div><div class="center title">免费设计</div></a></li>
                    <li class="pull-left"><a href="tel:0551-65660788"><div><img src="__IMG__/index/tel.png" alt=""></div><div class="center title">拨打电话</div></a></li>
                </ul>
            </div>
    </div>
<!--手机端底部tab 结束-->

<!--底部悬浮 点击可弹出报价 结束-->
<!--底部弹出报价 开始-->
<div class="quotation hidden-xs">
    <div class="container">
        <div class="row center">
            <img src="__IMG__/comm/quotation_down.png" alt="" class="animated infinite bounce close_quotation">
            <p class="center"><span class="red-font">0</span>&nbsp;元 预约设计免费抢</p>
        </div>
        <br>
        <div class="row">
            <form onsubmit="return footer_submit_form()" class="form-horizontal clearfix text-c" role="form" id="footer_form">
                <div class="col-sm-2 col-sm-offset-1">
                    <select class="form-control input-lg" name="address" required title="选择城市" style="width: 100%">
                        <option>选择城市</option>
                        <option value="合肥">合肥</option>
                        <option value="蚌埠">蚌埠</option>
                        <option value="石家庄">石家庄</option>
                        <option value="杭州">杭州</option>
                        <option value="呼和浩特">呼和浩特</option>
                        <option value="西安">西安</option>
                        <option value="石家庄">石家庄</option>
                        <option value="其他">其他</option>
                    </select>
                </div>

                <div class="col-sm-2">
                    <div class="input-group input-group-lg">
                        <input type="text" minlength="2" class="form-control" placeholder="房屋面积&nbsp;m2" name="area" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group input-group-lg">
                        <input type="text" minlength="2" class="form-control" placeholder="您的姓名" name="name" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group input-group-lg">
                        <input type="text" minlength="11" class="form-control" placeholder="您的电话" name="tel" required>
                    </div>
                </div>


                <div class="col-sm-2">
                    <button  class="btn btn-lg btn-danger" type="submit" id="footer_btn_order">立即报名</button>
                </div>
                <input type="hidden" name="from" value="PC">
                <input type="hidden" name="remark" value="底部报价">
            </form>
        </div>
    </div>


</div>
<!--底部弹出报价 结束-->

<!--右侧侧边栏 开始-->
<div class="float_right_menu hidden-xs">
    <div id="logo">
        <img src="__IMG__/comm/logo.png" alt="盛腾logo">
    </div>
    <ul class="clearfix">
        <li>快速导航</li>
        <li id="OnlineConsultation"><div class="center"><img src="__IMG__/comm/slide_right-item02.png" alt="在线咨询"></div>在线咨询</li>
        <li data-toggle="modal" data-target="#myModal"><div class="center"><img src="__IMG__/comm/slide_right-item03.png" alt="预约装修"></div>预约装修</li>
        <li data-toggle="modal" data-target="#myModal"><div class="center"><img src="__IMG__/comm/slide_right-item04.png" alt="免费报价"></div>免费报价</li>
        <li><div class="center"><img src="__IMG__/comm/slide_right-item05.png" alt="返回顶部"></div>返回顶部</li>

    </ul>
</div>
<!--右侧侧边栏 结束-->

<!--弹出模态框 开始-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h2 class="modal-title center" id="myModalLabel">
                    预约报名
                </h2>
            </div>
            <div class="modal-body">
                    <form onsubmit="return modal_form()" class="form-horizontal" role="form" id="modal_form" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="name"  type="name" class="col-sm-3 control-label">您的姓名：</label>
                                    <div class="col-sm-8">
                                        <input type="text" minlength="2" class="form-control" id="name" placeholder="您的姓名" name="name" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-3 control-label">小区名称：</label>
                                    <div class="col-sm-8">
                                        <input type="text" minlength="2"   class="form-control" id="address" placeholder="小区名称" name="address" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-3 control-label">装修面积：</label>
                                    <div class="col-sm-8">
                                        <input type="text" minlength="2"  class="form-control" id="area" placeholder="装修面积 ㎡" name="area" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-3 control-label">联系电话：</label>
                                    <div class="col-sm-8">
                                        <input type="tel" minlength="11"   class="form-control" id="tel" placeholder="联系电话" name="tel" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <p class="bg-success" style="padding: 5px;">我们将会对您的信息进行严格保密，请放心提交!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text"><button type="submit" class="btn btn-lg btn-danger btn-block" id="modal_form_btn">马上预约</button></p>
                            </div>
                        </div>
                        <input type="hidden" name="from" value="PC">
                        <input type="hidden" name="remark" value="弹出模态框">
                    </form>
            </div>

        </div>
    </div>
</div>
    <!--弹出模态框 结束-->
<!--引入CDN-->
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--wow.js 依赖animated.css 滑动位置触发动画库-->
<script src="https://cdn.bootcss.com/wow/1.1.2/wow.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
<!--图标css-->
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">



<!--公共页面通用js-->
<!--顶部 banner 动画-->
<script src="__ROOT__/static/index/lib/js/slide_banner.js"></script>

<script>
    // 底部弹出报价
    $('#alert-order-btn').click(function () {
        $('#alert-order-btn').hide();
        $('.quotation').fadeIn();
    });

    // 隐藏底部报价
    $('.quotation .close_quotation').click(function () {
        $('.quotation').fadeOut();
        $('#alert-order-btn').show();
    });

    //返回顶部
    $('.float_right_menu ul li:last').click(function () {
        $("html,body").animate({scrollTop:0}, 800);
    });

    //底部提交用户预约设计信息
    function footer_submit_form() {
        $.ajax({
            type: "POST",
            url: "{:url('Index/orderAdd')}",
            data : $("#footer_form").serialize(),
            beforeSend:function(){
                $('#footer_form').attr('onsubmit','return false;');
                $('#footer_btn_order').html("数据提交中...");
            },
            success: function(data) {
                alert(data.msg);
                $('#footer_btn_order').html("预约成功").removeClass('btn-danger').addClass('btn-success');
            },
            error:function (data) {
                alert(data.msg);
            }
        });
        return false;
    }


    //右侧提交用户预约设计信息
    function submit_form() {
        $.ajax({
            type: "POST",
            url: "{:url('Index/orderAdd')}",
            data : $("#selected_case_detail_form").serialize(),
            beforeSend:function(){
                $('#selected_case_detail_form').attr('onsubmit','return false;');
                $('#selected_case_detail_btn_order').html("数据提交中...");
            },
            success: function(data) {
                alert(data.msg);
                $('#selected_case_detail_btn_order').html("预约成功").removeClass('btn-danger').addClass('btn-success');
            },
            error:function (data) {
                alert(data.msg);
            }
        });
        return false;
    }

    //模态框表单验证
    $('#myModal').validate();
    //模态框提交预约信息
    function modal_form() {
        $.ajax({
            type: "POST",
            url: "{:url('Index/orderAdd')}",
            data : $("#modal_form").serialize(),
            beforeSend:function(){
                $('#modal_form').attr('onsubmit','return false;');
                $('#modal_form_btn').html("数据提交中...");
            },
            success: function(data) {
                alert(data.msg);
                $('#modal_form_btn').html("预约成功").removeClass('btn-danger').addClass('btn-success');
            },
            error:function (data) {
                alert(data.msg);
            }
        });
        return false;
    }

    /**
     * 截取url参数方法
     * @description 参数 name 为url 参数名
     */
    function getQueryString(name) {
        var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return unescape(r[2]);
        }
        return null;
    }

    //点击在线咨询
    $('#OnlineConsultation, .livechat-girl , .message, .get-ticket,.order_design').click(function () {
        $('#nb_icon_wrap').click();
    });

    $('#nb_icon_wrap').css('opacity','0');


    $('.livechat-girl').hover(function () {
        $('.livechat-hint').removeClass('hide_hint').addClass('show_hint');
    },function () {
        $('.livechat-hint').addClass('hide_hint').removeClass('show_hint');
    });

    //    左侧咨询按钮动画
    $(function(){
        function hide() {
            $('.animated-circles').removeClass('animated');
        }
        function show(){
            $('.animated-circles').addClass('animated');
        }
        setInterval(show,3000);
        setInterval(hide,6000);
    });
    
//    返回上一页
    $('.go-back').click(function () {
        history.back();
    });

//    底部点击active 样式
    $('.bottom_tab ul li').click(function () {
        var i = $(this).index();
        localStorage.setItem('cur-bottom_tab',i);
    });

    if (localStorage.getItem('cur-bottom_tab') !== null){
        var i = localStorage.getItem('cur-bottom_tab');
        $('.bottom_tab ul li').eq(i).addClass('active').siblings().removeClass('active');
    }

</script>

    
<!--百度商桥 开始-->
<!--<script>-->
    <!--var _hmt = _hmt || [];-->
    <!--(function() {-->
        <!--var hm = document.createElement("script");-->
        <!--hm.src = "https://hm.baidu.com/hm.js?5cbf9a484044f67aa33310ccaab66f91";-->
        <!--var s = document.getElementsByTagName("script")[0];-->
        <!--s.parentNode.insertBefore(hm, s);-->
    <!--})();-->
<!--</script>-->

<!--百度商桥 结束-->

<!--百度推送 开始-->
<!--<script>-->
    <!--(function(){-->
        <!--var bp = document.createElement('script');-->
        <!--var curProtocol = window.location.protocol.split(':')[0];-->
        <!--if (curProtocol === 'https') {-->
            <!--bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';-->
        <!--}-->
        <!--else {-->
            <!--bp.src = 'http://push.zhanzhang.baidu.com/push.js';-->
        <!--}-->
        <!--var s = document.getElementsByTagName("script")[0];-->
        <!--s.parentNode.insertBefore(bp, s);-->
    <!--})();-->
<!--</script>-->
<!--百度推送 结束-->
<!--360推送-->
<!--<script>(function(){-->
    <!--var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?36f8e7ad6866e1a44dab6f0af5ac4de7":"https://jspassport.ssl.qhimg.com/11.0.1.js?36f8e7ad6866e1a44dab6f0af5ac4de7";-->
    <!--document.write('<script src="' + src + '" id="sozz"><\/script>');-->
<!--})();-->
<!--</script>-->