<header>
    <nav class="navbar navbar-inverse nav_bg hidden-xs" role="navigation">

        <div class="container-fluid">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm hidden-lg hidden-md" href="{:url('index/index')}">盛腾家装工厂店</a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{:url('index/index')}">HOME首页</a></li>
                        <li><a href="{:url('SelectedCase/index')}">案例精选</a></li>
                        <li><a href="{:url('TeamServices/index')}">团队服务</a></li>
                        <li><a href="{:url('DecorationStrategy/index')}">家装攻略</a></li>
                        <li><a href="{:url('QualityEngineering/index')}">品质工程</a></li>
                        <li><a href="{:url('AllShops/index')}">各大工厂店</a></li>
                        <li><a href="{:url('Comments/index')}">业主评价</a></li>
                        <li><a href="{:url('AboutUs/about_us')}">关于盛腾</a></li>
                        <li><a href="{:url('AboutUs/contact_us')}">联系我们</a></li>
                        <!--<li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                                <!--关于我们 <b class="caret"></b>-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a href="{:url('AboutUs/about_us')}">关于盛腾</a></li>-->
                                <!--<li class="divider"></li>-->
                                <!--<li><a href="{:url('AboutUs/contact_us')}">联系我们</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
