{extend name="tpl/base"}

<!--业主案例 开始-->
{block name="content"}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a href="{:url('Index/index')}" class="maincolor">首页</a>
        <span class="c-gray en">&gt;</span>
        资讯管理
        <span class="c-gray en">&gt;</span>
        业主案例

        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
				<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
				<a class="btn btn-primary radius" data-title="添加案例" _href="article-add.html" onclick="article_add('添加资讯','article-add.html')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加案例</a>
				</span>
                <span class="r">共有数据：<strong>54</strong> 条</span>
            </div>
        </article>
    </div>
</section>
{/block}
<!--业主案例 结束-->

<!--业务相关 js 开始-->
{block name="custom_js"}
<script>
    $("#menu-article dt").addClass('selected');
    $("#menu-article dd").show();
    $("#menu-article dd ul li:eq(2)").addClass("current");
</script>
{/block}
<!--业务相关 js 结束-->