{extend name="tpl/base"}
{block name="custom_css"}
<link rel="stylesheet" href="__CSS__/all_shops.css">
{/block}
{block name="title"}各大工厂店{/block}

{block name="content"}
<div class="container">
    <div class="row go-back visible-xs">
        <div class="col-xs-12">
            <h4><i class="fa fa-angle-left">&nbsp;返回</i><i class="fa fa-share-square-o pull-right share"></i></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 chose-city">
            <ul class="clearfix">
                <li>选择城市：</li>
                <li class="active"><a href="{:url('index')}">全部</a></li>
                <li><a href="{:url('index')}?city=合肥&num=1">合肥</a></li>
                <li><a href="{:url('index')}?city=蚌埠&num=2">蚌埠</a></li>
                <li><a href="{:url('index')}?city=石家庄&num=3">石家庄</a></li>
                <li><a href="{:url('index')}?city=杭州&num=4">杭州</a></li>
                <li><a href="{:url('index')}?city=呼和浩特&num=5">呼和浩特</a></li>
                <li><a href="{:url('index')}?city=烟台&num=6">烟台</a></li>
                <!--<li><a href="{:url('index')}?city=西安&num=7">西安</a></li>-->
            </ul>
        </div>
    </div>
    <!--主体内容 开始-->
    <div class="row">
        <!--左侧 开始-->
        <div class="shops-content">
            <div class="col-sm-8">
                <div class="news_box">
                    {volist name="list" id="vo"}
                    <div class="row">
                        <!--工厂店缩略图-->
                        <div class="col-sm-6 city">
                            <a href="{$vo.url}" target="_blank"><img src="__ROOT__/uploads/{$vo.thumbnail}" alt="工厂店缩略图" class="img-responsive"></a>
                        </div>
                        <!--工厂店简介-->
                        <div class="col-sm-6">
                            <h2 class="news_title"><a href="{$vo.url}" target="_blank">{$vo.company_name}</a></h2>
                            <p><span>案例作品：&nbsp;{$vo.count_case}&nbsp;套</span>&nbsp;&nbsp;<span>设计师：&nbsp;{$vo.count_designers}&nbsp;人</span>&nbsp;&nbsp;<span>样板间：32&nbsp;套</span></p>
                            <p class="address">店面地址：{$vo.address}</p>
                            <hr>
                            <h5 class="clearfix"><span class="pull-left"><b>推荐案例</b></span><i class="fa fa-angle-double-right pull-right"></i><span class="pull-right"><a
                                    href="{:url('SelectedCase/index')}">更多</a></span></h5>
                            <div class="row">
                                <div class="col-md-4 col-xs-4 case-thumbnail">
                                    <img src="__ROOT__/uploads/{$suggest_case[0]['case_photo1']}" alt="推荐案例" class="img-responsive">
                                </div>
                                <div class="col-md-4 col-xs-4 case-thumbnail">
                                    <img src="__ROOT__/uploads/{$suggest_case[0]['case_photo2']}" alt="推荐案例" class="img-responsive">
                                </div>
                                <div class="col-md-4 col-xs-4 case-thumbnail">
                                    <img src="__ROOT__/uploads/{$suggest_case[0]['case_photo3']}" alt="推荐案例" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {/volist}
                    <!--分页-->
                    <div class="center">
                        {$list -> render()}
                    </div>
                </div>

            </div>
        </div>


        <!--左侧 结束-->

        <!--右侧 开始-->
        <div class="col-sm-4 selected_case content" id="right_box">
            <div class="row">
                <div class="col-sm-12">
                    <div id="right_form">
                        <form onsubmit="return submit_form()" class="form-horizontal" role="form" id="selected_case_detail_form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="__IMG__/comm/right_order_form_banner.png" alt="右侧预约设计" id="order_design_img">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-4 control-label">您的姓名：</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="name" placeholder="您的姓名" name="name" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-4 control-label">小区名称：</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="address" placeholder="小区名称" name="address" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-4 control-label">装修面积：</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="area" placeholder="装修面积" name="area" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-4 control-label">联系电话：</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="tel" placeholder="联系电话" name="tel" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text"><button type="submit" class="btn btn-lg btn-danger btn-block" id="selected_case_detail_btn_order">预约设计</button></p>
                                </div>
                            </div>
                            <input type="hidden" name="from" value="PC">
                            <input type="hidden" name="remark" value="设计师详情">
                        </form>
                    </div>
                </div>
            </div>
            <!--推荐设计师-->
            <div class="row">
                {volist name="suggest_designer" id="suggest_designer"}
                <div class="col-sm-12">
                    <div class="case">
                        <ul class="suggest_title">
                            <li><h4>推荐设计师</h4></li>
                        </ul>

                        <div class="thumbnail-img">
                            <a href="{:url('TeamServices/designer_info')}?id={$suggest_designer.id}"><img src="__ROOT__/uploads/{$suggest_designer.avatar}" alt="设计师头像"></a>
                        </div>
                        <div class="text">
                            <p class="center"><span class="designer_name">{$suggest_designer.name}</span> &nbsp;{$suggest_designer.position}</p>
                            <p class="center">案例作品：{$suggest_designer.numbers} 套&nbsp;&nbsp; 从业经验：{$suggest_designer.years} 年</p>
                            <!--设计理念-->
                            <h5 class="designer_introduction center">{$suggest_designer.introduction}</h5>
                        </div>
                    </div>
                </div>
                {/volist}
            </div>
            <!--推荐案例-->
            <div class="row">
                <div class="col-sm-12">
                    {volist name="suggest_case" id="vo"}
                    <div class="case">
                        <ul class="suggest_title">
                            <li><h4>推荐案例</h4></li>
                        </ul>
                        <div class="thumbnail-img">
                            <a href="{:url('SelectedCase/selected_case_detail')}?case_id={$vo.case_id}"><img src="__ROOT__/uploads/{$vo.case_photo1}" alt="{$vo.style}"></a>
                        </div>
                        <div class="text clearfix">
                            <p class="center title">
                                <span class="proprietor_address">{$vo.community_name}&nbsp;{$vo.area} ㎡</span>
                                <span class="design_style pull-right">{$vo.style}</span>
                            </p>
                            <div class="btn-group">
                                <h3 class="inline pull-left"><span class="look_detail label"><a href="{:url('SelectedCase/selected_case_detail')}?case_id={$vo.case_id}">查看详情</a></span></h3>
                                <h3 class="inline pull-right"><span class="order_design  label"><a href="">预约设计</a></span></h3>
                            </div>
                            <span><img src="__ROOT__/uploads/{$vo.avatar}" alt="设计师" class="designer"></span>
                        </div>
                    </div>

                    {/volist}
                </div>
            </div>

        </div>
        <!--右侧 结束-->

    </div>
    <!--主体内容 结束-->
</div>
{/block}

{block name="custom_js"}

<script>
    <!--导航菜单-->
    $('header nav ul li').removeClass('active');
    $('header nav ul li:eq(5)').addClass('active');

//    tab 切换
    $('.chose-city ul li').click(function () {
        $(this).addClass('active').siblings().removeClass('active');
    });

    //tab 选中样式
   if ((getQueryString("num")) !== null){
       var num = parseInt(getQueryString("num")) + 1;
       $('.chose-city ul li').eq(num).addClass('active').siblings().removeClass('active');
   }


</script>
{/block}